* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: filson-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
}

:root {
  --dark: #001a36;
  --medium: #587cd2;
  --light: #587cd2;
  --button-size: 45px;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h2, h3, h4 {
  color: var(--dark);
  font-family: filson-pro, sans-serif;
  font-weight: 800;
  font-style: normal;
}

h1 {
  font-size: 50px;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 25px;
}

h2.main {
  font-size: 50px;
  text-align: center;
}

h2.main ~ p {
  text-align: center;
}

h2 ~ p {
  margin-bottom: 2rem;
  font-size: 20px;
}

.btn {
  padding: 0.3rem 0.5rem;
  background-color: #587cd2;
  color: #041b42;
  border: 2px solid transparent;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.btn.selected, .btn:hover {
  background-color: white;
  border-color: #041b42;
  outline: none;
}

.export-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.export-buttons .export {
  background-color: transparent;
  border: none;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.export-buttons .export.share {
  display: none;
}

.export-buttons .export img {
  width: 30px;
}

.wrapper {
  margin-top: 110px;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  width: calc(100vw - 120px);
}

@media (max-width: 1350px) {
  .wrapper {
    width: calc(100% - 170px);
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: unset;
    margin-left: 0;
    max-height: calc(100vh - 110px);
    padding-bottom: 3rem;
  }
}

.wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

@media (max-width: 1350px) {
  .wrapper > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.wrapper .buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  max-width: 600px;
}

@media (max-width: 550px) {
  .wrapper .buttons {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .wrapper .buttons button {
    text-align: left !important;
    max-width: 200px;
  }
}

.wrapper .buttons button {
  font-size: 18px;
}

.wrapper .own-quote {
  max-height: 0;
  overflow: hidden;
  margin-top: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.wrapper .own-quote.shown {
  max-height: 100%;
}

.wrapper .own-quote textarea {
  width: 100%;
  background-color: var(--light);
  color: var(--dark);
  border: 2px solid var(--medium);
  padding: 1.5rem;
  resize: vertical;
  height: 100px;
  min-height: 100px;
  font-size: 18px;
}

.wrapper .own-quote textarea::-webkit-input-placeholder {
  color: var(--dark);
  font-size: 18px;
}

.wrapper .own-quote textarea:-ms-input-placeholder {
  color: var(--dark);
  font-size: 18px;
}

.wrapper .own-quote textarea::-ms-input-placeholder {
  color: var(--dark);
  font-size: 18px;
}

.wrapper .own-quote textarea::placeholder {
  color: var(--dark);
  font-size: 18px;
}

.wrapper .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

@media (max-width: 650px) {
  .wrapper .steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .steps div {
    padding: 0 !important;
    border-width: 0 !important;
    margin-bottom: 2rem;
  }
}

.wrapper .steps > :first-child {
  padding-right: 2rem;
  border-right: 2px solid #b4bac3;
}

.wrapper .steps > :last-child {
  padding-left: 2rem;
}

.wrapper .steps .colors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  max-width: 200px;
}

.wrapper .steps .colors button {
  width: var(--button-size);
  height: var(--button-size);
  background-color: red;
  border: 3px solid transparent;
  position: relative;
  cursor: pointer;
}

.wrapper .steps .colors button.selected, .wrapper .steps .colors button:active, .wrapper .steps .colors button:focus {
  outline: none;
}

.wrapper .steps .colors button.selected::after, .wrapper .steps .colors button:active::after, .wrapper .steps .colors button:focus::after {
  content: '';
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background-image: url("../assets/img/selected-color-blue.svg");
  background-size: cover;
  top: -3px;
  left: -3px;
}

.wrapper .steps .colors button.selected.dark::after, .wrapper .steps .colors button:active.dark::after, .wrapper .steps .colors button:focus.dark::after {
  background-image: url("../assets/img/selected-color-white.svg");
}

.wrapper .configuration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 8rem;
  border-right: 2px solid #b4bac3;
}

@media (max-width: 1600px) {
  .wrapper .configuration {
    padding-right: 3rem;
  }
}

@media (max-width: 1350px) {
  .wrapper .configuration {
    padding-right: 0;
    border-width: 0;
    margin-bottom: 4rem;
  }
}

.wrapper #reset {
  -ms-grid-column-align: center;
      justify-self: center;
  display: inline-block;
  width: 150px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 3rem;
}

.patterns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 275px;
}

.patterns .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.patterns button {
  width: var(--button-size);
  height: var(--button-size);
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

.patterns button.selected, .patterns button:hover {
  background-color: #cbdbff;
  -webkit-box-shadow: 0 0  0 3px #051937;
          box-shadow: 0 0  0 3px #051937;
}

.patterns button p {
  font-weight: bold;
  text-transform: capitalize;
}

.patterns button img {
  width: 100%;
}

.patterns .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.patterns .tabs button {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #051937;
  border-radius: 50%;
  margin-left: 1rem;
}

.patterns .tabs button img {
  width: 7px;
  margin-left: 2px;
}

.patterns .tabs button.left {
  margin-left: 0;
  margin-right: 1rem;
}

.patterns .tabs button.left img {
  margin-left: unset;
}

.result {
  padding-left: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1600px) {
  .result {
    padding-left: 3rem;
  }
}

@media (max-width: 1350px) {
  .result {
    padding-left: 0;
  }
}

.result canvas {
  margin: 0 auto;
  margin-bottom: 2rem;
}

.background {
  position: fixed;
  z-index: -1;
}

.background.top, .background.bottom {
  top: 0;
  z-index: -2;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.background.top::after, .background.bottom::after {
  content: '';
  background-color: #567bbb;
  height: 49px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}

.background.top div, .background.bottom div {
  width: 400px;
}

.background.top div img, .background.bottom div img {
  width: 100%;
}

@media (max-width: 1600px) {
  .background.top div:nth-child(4), .background.bottom div:nth-child(4) {
    display: none;
  }
}

@media (max-width: 1200px) {
  .background.top div:nth-child(3), .background.bottom div:nth-child(3) {
    display: none;
  }
}

@media (max-width: 800px) {
  .background.top div, .background.bottom div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .background.top div:nth-child(2), .background.bottom div:nth-child(2) {
    display: none;
  }
  .background.top div img, .background.bottom div img {
    width: 400px;
  }
}

.background.top.bottom, .background.bottom.bottom {
  bottom: 0;
  top: unset;
}

@media (max-width: 767px) {
  .background.top.bottom, .background.bottom.bottom {
    display: none;
  }
}

.background.top.bottom img, .background.bottom.bottom img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: -5px;
}

.background.top.bottom::after, .background.bottom.bottom::after {
  bottom: 0;
  top: unset;
}

.background.left, .background.right {
  left: 0;
  top: 50%;
  height: 100vh;
  width: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: -4;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 767px) {
  .background.left, .background.right {
    display: none;
  }
}

.background.left::after, .background.right::after {
  content: '';
  background-color: #567bbb;
  width: 49px;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

.background.left.right, .background.right.right {
  left: unset;
  right: 0;
}

.background.left.right::after, .background.right.right::after {
  left: unset;
  right: 0;
}
/*# sourceMappingURL=style.css.map */